<h1>Welcome to Viewing Party!</h1>
<% if current_user %>
  <%= button_to "Log Out", "/logout", method: :delete%>
  <% @users.each do |user| %>
    <div id="user_names<%= user.id%>">
      <p><%= user.email %></p>
    </div>
  <% end %>
<% else %>
  <%= button_to "Login", "/login", method: :get %>
  <p><%= button_to "Register New User", "/register" %></p>
<% end %>